* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  background: radial-gradient(circle at top left, hwb(24 36% 10%), #0f0c29);
  color: #0c0a0a;
  min-height: 100vh;
}

.hero {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centre verticalement */
  align-items: center;     /* centre horizontalement */
  text-align: center;
  gap: 15px;
}
.title {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 3px;
}
.subtitle {
  font-size: 10px;
  opacity: 0.60;
}
.badge {
  background: rgba(0,0,0,.3);
  display: inline-block;
  padding: 4px 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

h1 {
  font-size: 40px;
  margin: 0;

}

.stats {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  text-align: center;
}

.stat {
  background: #f4b15459;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  color: #0c0a0a;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 40px;
}

.card {
  background: rgba(215, 159, 209, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,.4);
}

input, textarea, select {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: rgba(0,0,0,.4);
  color: white;
}

textarea {
  min-height: 120px;
  resize: none;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

button {
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(135deg, #ff512f, #dd2476);
  color: white;
}

button:nth-child(2) {
  background: #555;
}

button:nth-child(3) {
  background: #333;
}

.posts {
  margin-top: 15px;
}

.post {
  background: rgba(0,0,0,.4);
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  opacity: .7;
}
.stat{
  display: flex;
  flex-direction: column;
}