 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}


body {
    background: linear-gradient(120deg, #7e0347, #77286b, #f640b0);
    min-height: 100vh;
}

/* HERO Section */
.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 90px;
    color: rgba(245, 245, 245, 0.938);
    margin: 15px ;
}

#subtitle {
    opacity: 0.9;
    margin-bottom: 15px;
}

.new-year {
    background: #6b8a856b;
    color: silver;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
}

.countdown {
    margin-top: 10px;
    font-size: 14px;
     background: #6b8a856b;
    color: silver;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
}
/* HERO Section */

hr{
border: none;
height: 1px;
background-color: #ccc;
opacity: 0.3;

}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 30px;
}

/*Create a blog Post*/
.card {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 20px;
    
}

.card h2 {
    margin-bottom: 15px;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

input, textarea {
    background: rgba(255,255,255,0.1);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

input::placeholder, textarea::placeholder {
    color: #ffffffe7;
}
.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

button {
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.publish {
    background: gold;
    color: black;
    font-weight: bold;
}

.clear {
    background: #444;
    color: white;
}
/*Create a blog Post*/


/* Latest posts */
.post {
    background: rgba(255,255,255,0.08);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.post h3 {
    margin-bottom: 5px;
}

.Recap {
    background: rgba(255,215,0,0.2);
    color: gold;
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 12px;
}

.By {
    font-size: 12px;
    opacity: 0.7;
    margin: 5px 0;
}
/* Latest posts */

footer {
    text-align: center;
    padding: 15px;
    font-size: 14px;
    opacity: 0.6;
}


@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 60px;
    }
}
